# Build results
bin/
obj/
out/

# Rider IDE
.idea/
*.iml

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# NuGet packages
*.nupkg
*.snupkg
*.nuspec
packages/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Optional: JetBrains cache and project-specific files
*.iws
